@import url("https://th.bing.com/th/id/OIP.aHAaHARgf21PcRU6dN4CiwHaEk?rs=1&pid=ImgDetMain");
*{
margin: 0;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('image2.jpeg'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    
}

.wrapper {
    width: 100%;
    background: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color:#fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.input_box, .input_text {
    position: relative;
    margin-bottom: 20px;
}

.input_box input, .input_text input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input_box i, .input_text i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #888;
}

.remember_forgot {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember_forgot label {
    margin-right: 10px;
}

.register_link {
    text-align: center;
}

.register_link p {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
.social-icons {
    list-style-type: none;
    padding: 10;
    text-align: center; 
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}
.social-icons img {
    width: 5%; /* Ajuster la largeur des images selon vos préférences */
    height: 5%; /* Pour maintenir les proportions de l'image */
}
.footer {
    position: fixed;
   
    bottom: 0;
    width: 100%;
    text-align: right;
}